# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.next/
# dependencies
/www/node_modules
/app/node_modules
/.pnp
.pnp.js

# testing
/coverage
/www/coverage
/app/coverage

# next.js
/www/.next/
/app/.next/
/www/out/
/app/out/

# production
/www/build
/app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/www/.env*.local
/app/.env*.local

# vercel
.vercel
/www/.vercel
/app/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

tools/.env
tools/package-lock.json
tools/node_modules

www/.env.local
