{%- assign _author_name = page.author | default: site.author.name -%}
{%- assign _date = page.date | date: "%Y-%m-%d" -%}
{%- assign _page_url = page.url | absolute_url -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ _author_name | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }}
  },
  "datePublished": {{ _date | jsonify }},
  "dateModified": {{ _date | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ _page_url | jsonify }}
  }
}
</script>
